numpy==1.25.2
pandas==1.5.1
pandas-flavor==0.5.0
pandas-profiling==3.6.6
pyarrow==10.0.1
pydantic==2.6.1
pydantic-settings==2.2.1
pydantic_core==2.16.2
streamlit==1.32.0
xgboost==2.0.3
openpyxl
scikit-learn
